%h3 
  Bookings for
  = @resource.name
%table
  %tr
    %th
      Start
    %th
      End
  - @bookings.each do |booking|
    %tr
      %td
        = booking.start_time.strftime('%e %b %Y %H:%M%p')
      %td
        = booking.calculate_end_time.strftime('%e %b %Y %H:%M%p')
      %td= link_to "Delete", resource_booking_path(@resource, booking), data: { confirm: 'Are you sure?' }, method: :delete

      %td= link_to "Edit", edit_resource_booking_path(@resource, booking)


