%h3 
  Add booking for 
  = @resource.name

- if @booking.errors.any?
  .errors
    %h3
      = pluralize(@booking.errors.count, 'error')
      prohibited this booking from being saved:
    %ul
      - @booking.errors.full_messages.each do |message|
        %li= message

= form_for([@resource, @booking]) do |f|
  %p
    = f.label 'start_time', 'Start time'
    = f.datetime_select :start_time
  %p
    = f.label 'length', 'Length of booking'
    = f.number_field 'length'
  = f.submit 'Submit'